/*main styles*/
body{
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}
h2,h3{
    text-align: center;
    font-size: 1.5em;
    color:#cc0000;
    margin:0;
}
.homepage{
    background:url("/static/img/vintagemilk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}
.checkout a{
    background:url("/static/img/cart.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:0px 14px;
}

.logo{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
.about,.container{
    padding-top:20px;
}
.user_message{

    font-size: 1.2em;
}
/*navigation styles*/
ul{
    list-style:none;
    text-align: center;
}

.container-fluid{
    background:white;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}
.container-fluid:hover{
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
}
.nav {
    background-color: #fff;
}

 .navbar-default .navbar-nav>li>a, a{
    color:#cc0000;
 }
.milkmaids{
    position: absolute;
    width:100%;
    }

/*product page*/

.product{
    width:290px;
    display:block;
    margin:0 auto;
}

#cart{
 text-align: center;
 font-size: 1.2em;
}
.buy_button{
    font-size: 1em;
    background: #E76C67;
    border: 1px solid #E76C67;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}
.buy_button:hover{
background:#fff;
border: 1px solid #E76C67;
color: #E76C67;
opacity: 0.9;
}
.milk-nav{
padding-top:70px;
}
.words{
    border:1px solid black;
    padding:10px 0;
}
.words p{
    color:#434751;
}
 /* form styles */
label{
    display: block;
    max-width: 75%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="password_2"]
{
    display:block;
    margin:0 auto;
    padding:5px;
    margin-bottom: 20px;
    margin-top: 5px;
    min-width:75%;
    border-color: lightgrey;
}
.login_page{
    display:block;
    margin: 0 auto;
    width:75%;
    max-width: 100%;
    padding:10px 25px;
    font-size: 1.2em;
    color:black;
}
.login_form {
    margin-bottom: 30px;
    padding: 40px 0 40px 0;
    border-bottom:1px solid lightgrey;
}
.register_form{
    padding-bottom: 40px;
}
#message {
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;

}

#message p {
    text-align:center;
    font-size: 15px;
    padding: 10px 35px;
}
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;

}
.invalid {
    color: #cc0000;
}

.invalid:before {
    position: relative;
    left: -35px;
}
.forms{
    padding-top: 70px;
}
/* media queries */
@media (min-width: 768px){
/*.navbar-nav {
    width:100%;
}*/
.home{
    border: 1px solid #efefef;
    padding: 30px 0 30px;
}
.home h3, .home p{
    margin: 0;
}
.buy_button{
position:absolute;
bottom:175px;
right:90px;
}
/*form styles */

.login_form, .register_form{
    width:50%;
    float:left;
    padding: 10px 0;
    border-bottom:none;
}
.register_form{
    border-left: 1px solid lightgrey;
}
@media (min-width: 1000px){
    .buy_button{
        right:45px;
    }

}
@media (min-width: 1200px){
    .buy_button{
        right:100px;
    }

}

