/* general page styles */
body{
    background:url("/static/img/milkbottle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

 img{
    display: block;
    margin: 0 auto;
 }
