{%extends 'base.html'%}

{%block content%}
<form action="/login" method="post">
    <h1>Create an Account</h1>
    <legend>Contact Information</legend>
    <label for="firstname" class="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Required">
    <label for="lastname" class="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Required">
    <label for="email" class="email">Email</label>
    <input type="text" id="" name="email"placeholder="Required">
    <label for="address" class="address">Street Address</label>
    <input type="text" id="address" name="address"placeholder="Required">
    <label for="zipcode" class="zipcode">Zipcode</label>
    <input type="text" id="zipcode" name="zipcode"placeholder="Required">
    <label for="password" class="password">Password</label>
    <input type="password" id="password" name="password"placeholder="Required">
    <button type="submit">Create Account</button>
</form>
<ul>
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
<form action="/login" method="post">
    <h2>Sign In</h2>
    <label for="email_2" class="email_2">Email</label>
    <input type="text" id="email_2" name="email_2" required>
    <label for="password_2" class="password_2">Password</label>
    <input type="password" id="password_2" name="password_2" required>
    <button type="submit">Sign In</button>
</form>
{%endblock%}