{%extends 'base.html'%}

{%block content%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav"/>
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li class="checkout"><a href ="/checkout">Checkout: <span> 0 </span> items</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="register_form">
<form action="/register" method="post">
    <h1>Create an Account</h1>
    <label for="firstname" class="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname" placeholder="Required">
    <label for="lastname" class="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" placeholder="Required">
    <label for="email" class="email">Email</label>
    <input type="text" id="" name="email"placeholder="Required">
    <label for="address" class="address">Street Address</label>
    <input type="text" id="address" name="address"placeholder="Required">
    <label for="zipcode" class="zipcode">Zipcode</label>
    <input type="text" id="zipcode" name="zipcode"placeholder="Required">
    <label for="password" class="password">Password</label>
    <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <button type="submit">Create Account</button>
</form>
</div>
<div class="login_form">
<form action="/login" method="post">
    <h2>Sign In</h2>
    <label for="email_2" class="email_2">Email</label>
    <input type="text" id="email_2" name="email_2" required>
    <label for="password_2" class="password_2">Password</label>
    <input type="password" id="password_2" name="password_2" required>
    <button type="submit">Sign In</button>
</form>
<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

<ul>
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>



<script src="static/verification.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{%endblock%}