{%extends 'base.html'%}
{% block content%}
<nav class="navbar navbar-default milkmaids">
  <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

     <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav"/>
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="contact.asp">Donate</a></li>
              <li><a href="about.asp">Contact</a></li>
              <li class="checkout"><a href ="/checkout">Checkout:<span>0</span> items</a></li>
            {% if 'User ID' in session %}
                 <li class ="log"><a href = "/logout">Logout</a></li>
            {% endif %}
            {% if 'User ID' not in session %}
                <li class ="log"> <a href = "/login">Login</a></li>
            {% endif %}
        </ul>
      </div>
     </nav>
  </div>
<div class= "order_items">
{% if cart_items == [] %}
    <p>Your shopping bag is empty but you can change that!</p>
    <a href="/shop">Shop Now</a>
{% else %}
{% for item,diet in cart_items %}
    <p>Milk id: {{ item.milk_id }}</p>
    <p>Item:{{ diet.milk_diet.diet_name }} </p>
    <p>Ounces ordered:{{ item.price_per_oz }} </p>
    <p>Price:{{ item.inventory * item.price_per_oz }} </p>

{% endfor %}
    <p>Order cost: {{order_cost}}</p>
    <a href ="/checkout">Checkout</a>
{% endif %}

</div>

<!-- bower -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
{%endblock%}