{%extends 'base.html'%}

{% block content%}
<ul class = "nav">
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="contact.asp">Donate</a></li>
  <li><a href="about.asp">Contact</a></li>
</ul>
<div class= "order_items">
{% for item,diet in cart_items%}
    <p>Milk id: {{ item.milk_id }}</p>
    <p>Item:{{ diet.milk_diet.diet_name }} </p>
    <p>Ounces ordered:{{ item.price_per_oz }} </p>
    <p>Price:{{ item.inventory * item.price_per_oz }} </p>
{%endfor%}
</div>
<a href ="/checkout">Checkout</a>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{%endblock%}