{%extends 'base.html'%}

{% block content%}
<ul class = "nav">
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="contact.asp">Donate</a></li>
  <li><a href="about.asp">Contact</a></li>
</ul>
<div class= "order_items">
    <p>Item: {{diet}}</p>
    <p>Ounces ordered: {{ounces}}</p>
    <p>Order Total: {{total_cost}}</p>
</div>
<a href ="/checkout">Checkout</a>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{%endblock%}