{%extends 'base.html'%}
{% block content%}
<link rel="stylesheet" href="/static/css/styles.css"/>
<ul class = "nav">
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="contact.asp">Donate</a></li>
  <li><a href="about.asp">Contact</a></li>
  <li class = "checkout"><a href ="/checkout">Checkout <span> 0</span></a></li>
</ul>
<div class = "homepage">
    <img src = "static/img/Milkmaids.png">
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
{%endblock%}