{%extends 'base.html'%}
{% block content%}
<link rel="stylesheet" href="/static/css/styles.css"/>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav"/>
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="contact.asp">Donate</a></li>
      <li><a href="about.asp">Contact</a></li>
      <li class="checkout"><a href ="/checkout">Checkout: <span> 0 </span> items</a></li>
      <li class="login"><a href ="/login">Login</a></li>
    </ul>
  </div>
</nav>
<div class = "homepage">
    <img src = "static/img/Milkmaids.png">
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
{%endblock%}