{%extends 'base.html'%}
{% block content%}
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/styles.css"/>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav"/>
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="contact.asp">Donate</a></li>
      <li><a href="about.asp">Contact</a></li>
      <li class="checkout"><a href ="/checkout">Checkout: <span> 0 </span> items</a></li>
         {% if 'User ID' in session %}
         <div class ="log"><a href = "/logout">Logout</a></div>
    {% endif %}
    {% if 'User ID' not in session %}
        <div class ="log"> <a href = "/login">Login</a></div>
    {% endif %}
    </ul>
  </div>
</nav>
<div class="homepage">
    <img src="static/img/Milkmaids.png">
</div>
<div class="about">
  <h2>About</h2>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
{%endblock%}