{%extends 'base.html'%}

{% block content%}
<ul class = "nav">
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="contact.asp">Donate</a></li>
  <li><a href="about.asp">Contact</a></li>
</ul>
<ul class = "milk-nav">
  <li><a href="#">Vegetarian</a></li>
  <li><a href="#">Vegan</a></li>
  <li><a href="#">Gluten-Free</a></li>
  <li><a href="#">Omnivore</a></li>
</ul>
<a href ="/cart" id='shop'>Shopping cart</a>
<div id= 'cart'></div>
<div id = "product">
{% for item in milk_output %}
    {% if item.diet_name == 'Vegetarian' %}
    <img src= "https://www.fillmurray.com/200/300">
        <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
        <p>Diet:{{item.diet_name}}</p>
        <p>Babie's Age:{{item.baby_age}} Months</p>
        <p>Price Per OZ: ${{item.price_per_oz}} </p>
        <p>Ounces available:{{item.inventory}}</p>
        <p>Date received:{{item.date}}</p>
    {% endif %}
{% endfor %}
{% for item in milk_output %}
    {% if item.diet_name == 'Vegan' %}
    <img src= "https://www.placecage.com/200/300">
        <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
        <p>Diet: {{item.diet_name}}</p>
        <p>Babie's Age:{{item.baby_age}}</p>
        <p>Price Per OZ: ${{item.price_per_oz}} </p>
        <p>Ounces available: {{item.inventory}}</p>
        <p>Date received: {{item.date}}</p>
    {%endif%}
{% endfor %}
{% for item in milk_output %}
    {% if item.diet_name == 'Gluten-Free' %}
    <img src= "http://www.fillmurray.com/200/300">
        <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
        <p>Diet: {{item.diet_name}}</p>
        <p>Babie's Age: {{item.baby_age}}</p>
        <p>Price Per OZ: ${{item.price_per_oz}} </p>
        <p>Ounces available: {{item.inventory}}</p>
        <p>Date received: {{item.date}}</p>
    {%endif%}
{% endfor %}
{% for item in milk_output %}
    {% if item.diet_name == 'Omnivore' %}
    <img src= "http://www.fillmurray.com/200/300">
        <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
        <p> Diet: {{item.diet_name}}</p>
        <p> Babie's Age: {{item.baby_age}}</p>
        <p>Price Per OZ: ${{item.price_per_oz}} </p>
        <p>Ounces available: {{item.inventory}}</p>
        <p>Date received: {{item.date}}</p>
    {%endif%}
{% endfor %}

</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
<script src="https://js.stripe.com/v3/"></script>
{%endblock%}