{%extends 'base.html'%}

{% block content%}
<ul class="milk-nav">
  <p class="diet-words">Diet Types</p>
  <li><a href="#" data-milktype="Veg">Vegetarian</a></li>
  <li><a href="#" data-milktype="Vegan">Vegan</a></li>
  <li><a href="#" data-milktype="Glut">Gluten-Free</a></li>
  <li><a href="#" data-milktype="Omni">Omnivore</a></li>
<!--   <li class="checkout" id="shop-bag"><a href="/cart">Shopping Bag <span>0</span></a></li> -->
</ul>
<div id="cart"></div>
<div class="container gallery">
    <div class="row" id="Veg">
    {% for item in milk_output %}
        {% if item.diet_name == 'Vegetarian' %}
        <div class="col-sm-6 col-md-4">
            <img class="product" src="static/img/veggies.jpg">
                <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
            <div class="words">
                <p class="diet">{{item.diet_name}} Diet</p>
                <p>Baby's Age: {{item.baby_age}} Months</p>
                <p>Price Per OZ: ${{item.price_per_oz}} </p>
                <p>Ounces available: {{item.inventory}}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="row" id="Vegan">
    {% for item in milk_output %}
        {% if item.diet_name == 'Vegan' %}
        <div class=" col-sm-6 col-md-4">
            <img class="product"src="static/img/vegan.jpg">
                <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
            <div class="words">
                <p class="diet">{{item.diet_name}} Diet</p>
                <p>Baby's Age: {{item.baby_age}} Months</p>
                <p>Price Per OZ: ${{item.price_per_oz}} </p>
                <p>Ounces available: {{item.inventory}}</p>
            </div>
        </div>
        {%endif%}
    {% endfor %}
    </div>
    <div class="row" id="Glut">
    {% for item in milk_output %}
        {% if item.diet_name == 'Gluten-Free' %}
        <div class="col-sm-6 col-md-4">
            <img class="product"src= "static/img/milk_fruit.jpg">
                <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
            <div class="words">
                <p class="diet"> {{item.diet_name}} Diet </p>
                <p>Baby's Age: {{item.baby_age}} Months</p>
                <p>Price Per OZ: ${{item.price_per_oz}} </p>
                <p>Ounces available: {{item.inventory}}</p>
            </div>
        </div>
        {%endif%}
    {% endfor %}
    </div>
    <div class="row" id="Omni">
    {% for item in milk_output %}
        {% if item.diet_name == 'Omnivore' %}
        <div class="col-sm-6 col-md-4">
            <img class="product" src= "static/img/milkO.jpg">
                <button type="submit" class="buy_button" data-tooltip="{{item.milk_id}}">Buy</button>
            <div class="words">
                <p class="diet">{{item.diet_name}} Diet</p>
                <p> Baby's Age: {{item.baby_age}} Months</p>
                <p>Price Per OZ: ${{item.price_per_oz}} </p>
                <p>Ounces available: {{item.inventory}}</p>
            </div>
        </div>
        {%endif%}
    {% endfor %}
</div>
<script src="/static/milk.js"></script>
{%endblock%}