{%extends 'base.html'%}

{% block content%}
<ul class = "nav">
  <li><a href="/">Home</a></li>
  <li><a href="/shop">Shop</a></li>
  <li><a href="contact.asp">Donate</a></li>
  <li><a href="about.asp">Contact</a></li>
</ul>
<div id = "product">
<h1>0-2 months</h1>
<img src= "https://www.fillmurray.com/200/300">
<button type ="submit" class = "buy" value= "buy">Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<h1>2-6 months</h1>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<h1>2-6 months</h1>
<img src= "https://www.fillmurray.com/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
<img src= "https://www.fillmurray.com/g/200/300">
<button>Buy</button>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/milk.js"></script>
{%endblock%}